[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
awscli = "*"
jupyter = "*"
boto3 = "*"
progressbar = "*"
pyarrow = "*"
azure-storage-blob = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
